# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/
.venv*/


# VS Code settings
.vscode/


# Logs and databases
*.log
*.sqlite3
*.db

# Unit test cache
.coverage
.tox/
.nox/
pytest_cache/

# MyPy type checking cache
.mypy_cache/

# Profiling data
*.prof
*.lprof
*.dat

# Build and distribution
build/
dist/
*.egg-info/
pip-wheel-metadata/
*.manifest

# Editor backups and swap files
*~ 
*.swp
*.swo

